# ------------------------------

# Python cache

# ------------------------------

**pycache**/
*.pyc
*.pyo
*.pyd

# ------------------------------

# Virtual environments

# ------------------------------

venv/
venv311/
.env
.venv/

# ------------------------------

# Jupyter Notebook

# ------------------------------

.ipynb_checkpoints/

# ------------------------------

# Dataset / Data files (IGNORE)

# ------------------------------

data/
*.csv
*.xlsx
*.json

# ------------------------------

# Model files (IGNORE)

# ------------------------------

*.pkl
*.h5
*.joblib

# ------------------------------

# Logs & temp files

# ------------------------------

*.log
temp/
tmp/

# ------------------------------

# OS / system files

# ------------------------------

.DS_Store
Thumbs.db

# ------------------------------

# IDE / Editor files

# ------------------------------

.vscode/
.idea/

# ------------------------------

# Build / distribution

# ------------------------------

build/
dist/
*.egg-info/

# ------------------------------

# Misc env files

# ------------------------------

.env.local
.env.*.local
